{% extends 'spr_optimizer/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h3>Choose your file</h3>
    <div class="form-group">
        <form class="input-append" enctype="multipart/form-data" method="post" action="/spr_optimizer/uploading/">
            <div id="field">
                {% csrf_token %}
                <input class="input" id="file_opt" name="file_opt" type="file" required/>
            </div>

            <button type="submit" class="btn btn-primary margin-top">Upload</button>

        </form>
    </div>
</div>
{% endblock content %}